<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="./style.css">
    <title>&Chill</title>
</head>

<body>
    <aside>
        <div class="uk-child-width-1-6@m uk-grid-small uk-grid-match custom-aside" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <img class="uk-border-circle" width="100" height="100" src="images/Grayson Prof.jpeg">
                    <h3 class="uk-card-title">Grayson, 25</h3>
                    <h3 class="uk-card-title">
                        <p uk-margin>
                            <button class="uk-button uk-button-default">View Matches</button>
                            <br><br>
                            <button class="uk-button uk-button-default">Account Settings</button>
                            <br><br>
                            <button class="uk-button uk-button-default">Update Profile</button>
                            <br><br>
                            <button class="uk-button uk-button-default">Daily Match Quiz</button>
                            <br><br>
                            <button class="uk-button uk-button-default">Messages</button>
                            <button class="uk-button uk-button-text">Text</button>
                        </p>
                    </h3>
                </div>
            </div>
        </div>
    </aside>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>
</body>

</html>