<div class="col-6 goodbye">
    <div class="container">
        <div class="banner">
            {{!-- <div class="mb-3">
                
            </div> --}}
            <h4>If you're sure you'd like to delete your profile, click the button below:</h4>
            <button type="submit" class="btn btn-danger" id="deleteBtn" onclick="byeForNow()">Submit</button>
        </div>
    </div>
</div>