 <div
    class="uk-flex-middle uk-background-cover uk-light main-background"
    data-src="./assets/images/couple.jpg"
    uk-img
  >
    <main>
        
      <form class="uk-position-center uk-text-center">
        <h2>Take the plot twists out of dating! Join &Chill today!</h2>

        <div class="uk-margin">
          <div class="uk-inline">
            <span
              class="uk-form-icon"
              uk-icon="icon: user"
              placeholder="Email"
            ></span>
            <input class="uk-input" type="text" />
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span
              class="uk-form-icon uk-form-icon-flip"
              uk-icon="icon: lock"
              placeholder="Password"
            ></span>
            <input class="uk-input" type="text" />
          </div>
        </div>
        <p uk-margin>
          <button class="uk-button uk-button-default">ENTER</button>
          <br><br>
          <button class="uk-button uk-button-text custom-signup">Don't have an account? Sign Up Now!</button>
        </p>
    </form>


    </main>