 <div class="sitecontainer">
    <main class="mainsite">

      <h1>
        Take the plot twists out of dating! Sign up for &Chill today!
      </h1>
  
      <form>
        <div class="d-flex justify-content-center align-items-center"> 
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Enter password" name="pswd">
          </div>
        </div>
      </div>
      <div class="col text-center">
      <button id="enterbutton" type="button" class="btn btn-secondary btn-sm mx-auto">Enter</button>
      </div>
      <div class="col text-center">
        <button id="joinbutton" type="button" class="btn btn-secondary btn-lg mx-auto">Join &Chill Now!</button>
        </div>
      </form>
  </div>
  

  </main>

</div>