<main>
  <h2>
    &Chill
  </h2>

  <h3>
    GET RID OF THE PLOT TWISTS. SIGN UP FOR &CHILL TODAY
  </h3>
  <div>
    <button type="button">SIGN UP</button>
    <button type="button">SIGN IN</button>
</main>