<main>
    <div class="row">
  <div class="container bg-white custom-jumbo text-center">
    <div class="jumbotron text-left col-md-8">
      <img src="/images/&chill-logo.png" style="width: 18rem; height: 18rem" class="img-fluid" alt="Responsive image">
      <h1 class="text-end">Welcome Back, {{name}}</h1>
      <a class="btn btn-danger" href="" role="button">Start Chilling</a>
    </div>
  </div>
</div>

    {{#if loggedIn}}
    {{maindash}}
    {{else}}
    {{!-- You must log in to view this page here --}}
    {{/if}}
</main>