<div class="col-6">

        <div class="container">

            <div class="row">

                <div class="banner">

                    <p class="message"></p>
                    <div class="card mb-3" style="max-width: 540px;">

                        <div class="row g-0">

                            <div class="col-md-4">
                                <img src="/images/&chill-logo.png" style="width: 10rem; height: 10rem" class="img-fluid" alt="Responsive image">
                            </div>

                            <div class="col-md-8">

                                <div class="card-body">
                                    <h5 class="card-title"> Hi! Welcome back "username"</h5>
                                    <p class="card-text">Find the perfect match and start chillin!</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="dash-box">
          <div class="container">
              <div class="intro">
              </div>
              <div class="row match">
                  {{!-- <div class="col-md-6 col-lg-4 card-item">
                      <div class="box my-5"><img class="rounded-circle" src="/images/grayson_prof.jpg">
                          <h3 class="name">Grayson</h3>
                          <p class="title">25</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 card-item">
                      <div class="box my-5"><img class="rounded-circle" src="/images/potrait-of-happy-millennial-woman-sitting-on-sofa--82cg8tp_720.jpg">
                          <h3 class="name">Emily Clark</h3>
                          <p class="title">27</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 card-item">
                      <div class="box my-5"><img class="rounded-circle" src="/images/potrait-of-happy-millennial-woman-sitting-on-sofa--82cg8tp_720.jpg">
                          <h3 class="name">Emily Clark</h3>
                          <p class="title">27</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 card-item">
                      <div class="box my-5"><img class="rounded-circle" src="/images/potrait-of-happy-millennial-woman-sitting-on-sofa--82cg8tp_720.jpg">
                          <h3 class="name">Emily Clark</h3>
                          <p class="title">27</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 card-item">
                      <div class="box my-5"><img class="rounded-circle" src="/images/potrait-of-happy-millennial-woman-sitting-on-sofa--82cg8tp_720.jpg">
                          <h3 class="name">Emily Clark</h3>
                          <p class="title">27</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4 card-item">
                      <div class="box "><img class="rounded-circle" src="/images/potrait-of-happy-millennial-woman-sitting-on-sofa--82cg8tp_720.jpg">
                          <h3 class="name">Emily Clark</h3>
                          <p class="title">27</p>
                          <a class="btn btn-danger" href="" role="button">View Profile</a>
                      </div>
                  </div> --}}
              </div>
          </div>
      </div>