<div class="col-6">
    <div class="container">
        <div class="banner">
            <div class="mb-3">
                <h4>Here is your current bio:</h4>
                <p>{{user.bio}}</p>
                <label for="exampleFormControlTextarea1" class="form-label">Update your bio here!</label>
                <textarea class="form-control" id="bioInput" rows="3" placeholder="Type here""></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="movieBtn">Submit</button>
        </div>
    </div>
</div>
<script src="/js/update.js"></script>