<div class="col-6 update-bio">
    <div class="container">
        <div class="banner">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Update your bio here!</label>
                <textarea class="form-control" id="bioInput" rows="3" placeholder="Type here">{{user.bio}}</textarea>
            </div>
            <button type="submit" class="btn btn-success" id="updateBtn" onclick="updateUserBio(event)">Submit</button>
        </div>
    </div>
</div>