{{!-- file that contains all matches, both likes and dislikes --}}
{{!-- create route for this, /viewprofiles --}}

{{!-- need html to create the dynamic card for potential matches --}}
{{!-- need like and dislike button... can work on logic later...dislike should delete profile from view --}}

<body>
    <div class="dash-box">
        <div class="container">
            <div class="intro">
                <div class="row match">
                    {{#each}}
                    <div class="col-md-6 col-lg-4 card-item">
                        <div class="box my-5"><img class="rounded-circle" src="./assets/images/grayson_prof.jpg">
                            <h3 class="name">{{user.first_name}}</h3>
                            <p class="title">{{user.age}}</p>
                            <a class="btn btn-danger" href="" role="button">View Profile</a>
                            <br><br>
                            <button class="btn">
                                <img src="./assets/images/dislike-btn-01.svg" alt="" height="75px" width="75px">
                            </button>
                            <button class="btn">
                                <img src="./assets/images/like-btn-02.svg" alt="" height="75px" width="75px">
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>

{{!-- like needs to send that card to maindash handlebars --}}